<p>empresa works!</p>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="idEmpresa">
            <mat-header-cell *matHeaderCellDef> Id Empresa </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idEmpresa}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="rut">
            <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.rut}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dv">
            <mat-header-cell *matHeaderCellDef> Dv </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.dv}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="razonSocial">
            <mat-header-cell *matHeaderCellDef> Razon Social </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.razonSocial}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.direccion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="comuna">
            <mat-header-cell *matHeaderCellDef> Comuna </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.comuna}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actividad">
            <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.actividad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
            <mat-header-cell *matHeaderCellDef> Fecha Registro </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fechaRegistro}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button color="primary" [routerLink]="['edicion', row.idEmpresa]">
                    <mat-icon>ballot</mat-icon>
                </button>
                <button mat-button color="accent" (click)="eliminar(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<!-- <button mat-fab color="accent" style="float: right; margin-right: 20px" routerLink='/empresa/nuevo'>
    <mat-icon>create</mat-icon>
</button> -->