<p>registrar-empresa works!</p>
<div class="contenedor">
    <form [formGroup]="form" (ngSubmit)="submit()" #empForm="ngForm">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Razon Social" required formControlName="razonSocial">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Direccion" required formControlName="direccion">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Rut" required formControlName="rut">
        </mat-form-field>-
        <mat-form-field class="example-full-width">
            <input matInput placeholder="DV" required formControlName="dv">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-select formControlName="comuna" placeholder="Comuna" [(value)]="idComunaSeleccionado">
                <mat-option *ngFor="let c of comuna" [value]="c.idComuna">
                    {{c.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-select formControlName="actividad" placeholder="Actividad" [(value)]="idActividadSeleccionado">
                <mat-option *ngFor="let c of actividad" [value]="c.idActividad">
                    {{c.glosaActividad}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Fecha Registro" type="date" required formControlName="fechaRegistro">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
</button>
        <!--      <button mat-raised-button color="accent" routerLink='/registroemp' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
</button>-->
    </form>
</div>

<!--
<div>{{empresa}}</div>

<form [formGroup]="formularioContacto" (ngSubmit)="submit2()">
    <p>Nombre:
        <input type="text" formControlName="nombre">
    </p>
    <p>Mail:
        <input type="text" formControlName="mail">
    </p>
    <p>Mensaje<br>
        <textarea rows="10" cols="70" formControlName="mensaje"></textarea>
    </p>
    <button type="submit">Confirmar</button>
</form>
<div>{{datos}}</div>
-->